* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid plum; */
}

body {
  background-color: #e2e2e2;
}

.card__container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.generated__img {
  width: 300px;
  border-radius: 10px 10px 0 0;
}


.album__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  max-width: 900px;
  /* background-color:antiquewhite; */
}

.album__container {
  margin: 3rem 1rem;
  display: flex;
  justify-content: center;
}

.name {
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0.8rem;
}

nav {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
   background-color:brown;
   color: white;
   letter-spacing: 3px;
}